.btn_mail {
  color: white; }

.btn_facebook {
  color: blue; }

.btn_instagram {
  color: purple; }

/* Variables de colores */
/* Variables de operaciones */
* {
  margin: 0;
  padding: 0; }

/* Estilos del header */
header {
  background-color: #22223B;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  header .logo {
    width: 25%;
    align-self: center; }
  header .header_h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 75%;
    font-size: 1.5rem;
    padding-left: 10%;
    padding-right: 5%;
    align-self: center; }
  header .burgerBtn {
    display: none; }
  header .headerNav {
    width: 100%; }
    header .headerNav .li-color1 {
      background-color: #4A6C6F; }
    header .headerNav .li-color2 {
      background-color: #FCA311; }

@media only screen and (min-width: 401px) {
  /* Estilos del header */
  header .logo {
    width: 7%; }
  header .header_h1 {
    font-size: 2rem; } }

/* Estilos del main general: aplican a todas las hojas*/
main .main_h2, main .main_h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  background-color: rgba(106, 105, 104, 0.273);
  font-size: 1.2rem;
  padding: 3%;
  text-align: center; }

main .main_h3 {
  font-size: 1rem; }

main .main_p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  background-color: rgba(106, 105, 104, 0.273);
  font-size: 0.8rem;
  padding: 3%;
  text-align: center; }

main .main_ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 0px 3% 0px; }
  main .main_ul .main_li {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: rgba(255, 255, 255, 0.819);
    font-size: 0.8rem;
    margin: 5%;
    border-radius: 15px;
    text-align: center; }
    main .main_ul .main_li .main_h4 {
      display: block;
      text-align: center;
      width: 100%;
      font-size: 0.9rem; }

/* Estilos del main de la hoja Index */
.main_home {
  background-image: url(../imagenes/imagen11.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

/* Estilos del main de la hoja Impacto */
.grid_impacto {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: auto;
  grid-auto-flow: row;
  border: 2px #FCA311;
  margin-bottom: 80px;
  justify-content: center;
  padding-left: 0px;
  row-gap: 1%; }
  .grid_impacto .main_liImpacto {
    border: solid #22223B 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    border-color: #22223B;
    padding: 3% 10%;
    background-color: #E5E5E5; }

/* Estilos del main de la hoja Dona */
.main_Dona {
  background-image: url(../imagenes/imagen8.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }
  .main_Dona .div_mainDona {
    display: block; }
    .main_Dona .div_mainDona .main_liDona {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      width: 80%;
      height: 30px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: black;
      background-color: rgba(255, 255, 255, 0.428);
      font-size: 0.8rem;
      margin: 2%;
      text-align: center; }
    .main_Dona .div_mainDona .div_DonaQR {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      flex-wrap: nowrap; }
      .main_Dona .div_mainDona .div_DonaQR .main_h3Dona {
        text-align: center;
        font-size: 1rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
      .main_Dona .div_mainDona .div_DonaQR .main_imagesDona {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%; }

#Dona1 {
  display: none; }

/* Estilos del main de la hoja Voluntarios */
main .labelForm, main .labelFormTitle {
  font-size: 1rem; }

main .labelFormTitle {
  font-weight: bold;
  text-align: center; }

#Btn_Submit_Form_Voluntarios {
  margin: 20px;
  margin-bottom: 60px;
  padding: 5px;
  border-radius: 5px;
  border-color: #FCA311;
  background-color: white;
  color: #FCA311; }
  #Btn_Submit_Form_Voluntarios:hover {
    background-color: #FCA311;
    color: white; }

@media only screen and (min-width: 401px) {
  /* Estilos del main general Desktop: aplican a todas las hojas DESKTOP*/
  main .main_h2, main .main_h3 {
    font-size: 1.6rem; }
    main .main_h2:hover, main .main_h3:hover {
      background-color: rgba(0, 0, 0, 0.273); }
  main .main_h3 {
    font-size: 1.4rem; }
    main .main_h3:hover {
      background-color: rgba(0, 0, 0, 0.273); }
  main .main_h4 {
    font-size: 1.2rem; }
  main .main_p {
    font-size: 1rem; }
    main .main_p:hover {
      background-color: rgba(0, 0, 0, 0.273); }
  main .main_ul .main_li {
    font-size: 1rem;
    width: 40%; }
    main .main_ul .main_li:hover {
      background-color: white;
      transform: scale(1.05); }
    main .main_ul .main_li .main_h4 {
      font-size: 1.2rem; }
  /* Estilos del main de la hoja Index DESKTOP */
  .main_home {
    background-size: 100%;
    background-repeat: repeat-y; }
  /* Estilos del main de la hoja Impacto */
  .grid_impacto {
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(2, 180px);
    row-gap: 2%;
    column-gap: 2%;
    /* Estilos del main de la hoja Dona DESKTOP */
    /* Estilos del main de la hoja Voluntarios DESKTOP*/ }
    .grid_impacto .main_liImpacto {
      border: solid #22223B 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      overflow: hidden; }
    .grid_impacto .main_Dona .div_mainDona .div_DonaQR .main_imagesDona {
      width: 25%;
      justify-self: flex-end;
      margin-left: 7%; }
    .grid_impacto .main_Dona .div_mainDona .div_DonaQR #Dona1 {
      display: flex;
      width: 20%;
      margin-right: 7%; }
    .grid_impacto #Btn_Submit_Form_Voluntarios:hover {
      background-color: #FCA311;
      color: white; } }

/* Estilos del footer */
footer {
  display: flex;
  justify-content: space-around;
  background-color: #22223B;
  align-items: center;
  padding: 2%; }
  footer .footer_h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 0.8rem;
    margin: 0px; }
  footer i {
    color: white; }

@media only screen and (min-width: 401px) {
  /* Estilos del footer */
  footer {
    padding: 0.5%; }
    footer .footer_h5 {
      font-size: 1rem; } }
