/* Probando */
/* Moblie Styles */
@media only screen and (max-width: 400px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
       background-color: #F1FAFF;
    }
    /* Header */
    #logo {
        width: 6%;
        position: absolute;
        margin-top: 10px;
    }
    
    header.header_container h1.header_title{
        display: block;
        padding: 2%;
        background-color: #466c95;
        text-align: center;
        font-size: 1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    header.header_container ul.header_list{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    header.header_container ul.header_list li {
        display: inline-block;
        padding: 10px;
        margin: 5px;
        border-color: #466c95;
        font-size: 0.8rem;
        border-radius: 25px;
        border-color: #466c95;
        background-color: #E6F4F1;
        border-style:solid;
        justify-content: center;
        align-items: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    header.header_container ul.header_list a {
        display: inline-block;
        color:black;
        text-decoration: none;
        
    }
    header.header_container {
        background-color: #ddeedf;
    }
    header.header_container ul.header_list {
        background-color: #E6F4F1;
    }
    
    header.header_container ul.header_list li.li_selected-color{
        background-color: #466c95;
    }
    
    /* Main general */
    
    main.main_container h4.main_subtitle {
        background-color: #E6F4F1;
        margin-bottom: 10px;
        text-align: center;
        font-size: 0.8rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    main.main_container p.main_paragraph {
        padding: 10px 15px;
        margin: 10px;
        font-size: 0.75rem;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    /* Main Home */
    main.main_container ul.main_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    main.main_container ul.main_list li {
        display: flex;
        width: 60%;
        height: fit-content;
        min-height: 100%;
        text-align: center;
        overflow: auto;
        margin: 5px 0px 5px 0px;
        background-color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.75rem;
        box-shadow: 2.5px 3px #dbd9d9;
    }
    
    /* Main Historia*/
    main.main_containerHistoria h4.main_subtitle {
        background-color: #E6F4F1;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    main.main_containerHistoria {
        display: grid;
        grid-template-columns: 90%;
        row-gap: 20px;
        justify-content: center;
        column-gap: 10px;
        margin-bottom: 20px;
        grid-template-areas:
        "AreaHistoria1"
        "AreaHistoria2"
        "AreaHistoria3"
        "AreaHistoria4"
        "AreaHistoria5"
        "AreaHistoria6"
        "AreaHistoria7";

        }
        #Historia1{
            grid-area: AreaHistoria1;
            place-self: center;
        }
        #Historia2{
            grid-area: AreaHistoria2;
            place-self: center;
        }
        #Historia3{
            grid-area: AreaHistoria3;
            place-self: center;
        }
        #Historia4{
            grid-area: AreaHistoria4;
            place-self: center;
        }
        #Historia5{
            grid-area: AreaHistoria5;
            place-self: center;
        }
        #Historia6{
            grid-area: AreaHistoria6;
            place-self: center;
        }
        #Historia7{
            grid-area: AreaHistoria7;
            place-self: center;
        }


        main.main_containerHistoria img.main_imagesHistoria{
            width: 100%;
        } 
        main.main_containerHistoria p.main_paragraphHistoria{
            text-align: center;
            font-size: 0.7rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        } 

    /* Main Dona */
    main.main_containerDona h4.main_subtitle {
        background-color: #E6F4F1;
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    main.main_containerDona div.div_mainImpacto {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:
        "AreaDona1"
        "AreaDona2"
        "AreaDona3"
        "AreaDona4"
        "AreaDona5";
        row-gap: 10px;
        justify-items: center;
        column-gap: 10px;

    }

    #Dona1{
        grid-area: AreaDona1;
    }

    #Dona2{
        grid-area: AreaDona2;
    } 

    #Dona3{
        grid-area: AreaDona3;
    }     
    
    #Dona4{
        grid-area: AreaDona4;
    }  
    
    #Dona5{
        grid-area: AreaDona5;
    }  
   
    main.main_containerDona div.div_mainImpacto img.main_imagesDona{
        width: 80%;
    }
    main.main_containerDona div.div_mainImpacto h5.main_text {
        margin-bottom: 10px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    main.main_containerDona div.div_mainImpacto  ul.main_listDona li {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 0.8rem;
    }
    


    main.main_containerDona img.main_imagesDonaQR{
        width: 80%;
    
    }
    
    /* Main impacto */

    main.main_containerImpacto{
        background-image: url(../imagenes/imagen9.jpg) ;
        background-size: 100%;

    }
    main.main_containerImpacto ul.main_listImpacto {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    main.main_containerImpacto ul.main_listImpacto li {
        display: flex;
        height: fit-content;
        width: 80%;
        margin:5px;
        min-height: 100%;
        text-align: center;
        align-content: center;
        background-color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.75rem;
        box-shadow: 2.5px 3px #dbd9d9;
    }
    main.main_containerImpacto h4.main_subtitle {
        background-color: #E6F4F1;
        margin-bottom: 10px;
        text-align: center;
        font-size: 0.8rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    /* Main Voluntatrio */

    main.main_container h2.h2_Voluntario{
        margin-bottom: 10px;
        text-align: center;
        font-size: 0.8rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    #mainBackground_voluntario {
        background-image: url(../imagenes/imagen6.jpg);
    }
    
    main.main_container legend.main_legend {
        margin-top: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    main.main_container form.main_form{
        max-width: 50%;
        margin: 0 auto;
        background-color:#f2f9f1;
    }
    
    main.main_container textarea.main_textarea {
        width: 100%;
    }
    main.main_container label.main_label {
        display: block;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    main.main_container input.main_input {
        display: inline-block;
        margin: 10px 0px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    main.main_container select.main_select {
        display:block;
        margin: 10px 0px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    /* Footer */
    footer.footer_container {
        display: flex;
        background-color: #b6cdbd;
        width: 100%;
        justify-content: flex-end;
    }
    
    footer.footer_container h5.footer_name{
        display: inline-block;
        margin-right: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: black;
        font-style: italic;
        font-size: 0.6rem;
    }
    }



/* Desktop Styles */
@media only screen and (min-width:401px){

    @keyframes zoom-shake {0% {
        transform: scale(1.3);
        transform: rotate(30deg);
      }
      50% {
        transform: rotate(-20deg);
      }
      100% {
        transform: rotate(25deg);
      }
        
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #f7f7f7;
    }
    /* Header */

    #logo {
        display: inline-block;
        width: 5%;
        position: absolute;
        margin: 5px 0px 3px 10px;
    }

    header.header_container h1.header_title{
        display: block;
        padding: 2%;
        background-color: #466c95;
        text-align: center;
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    header.header_container ul.header_list{
        display: flex;
        justify-content: space-around;
        padding: 5px 0px;
        flex-direction: row;
    }

    header.header_container ul.header_list li {
        display: flex;
        width: 18%;
        overflow: auto;
        padding: 10px;
        border-radius: 25px;
        border-color: #466c95;
        background-color: #E6F4F1;
        border-style:solid;
        justify-content: center;
        align-items: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    header.header_container ul.header_list li:hover {
        transform:scale(1.1); 
    }
    header.header_container ul.header_list a {
        display: inline-block;
        color:black;
        text-decoration: none;
    }

    header.header_container ul.header_list li.li_selected-color{
        background-color: #466c95;
    }
    /* Main general */

    main.main_container h4.main_subtitle {
        background-color: #E6F4F1;
        margin-bottom: 10px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    main.main_container p.main_paragraph {
        padding: 10px 15px;
        margin: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    } 

    /* Main Home */

    main.main_container ul.main_list {
        display: flex;
        justify-content: space-around;
    }
    main.main_container ul.main_list li {
        display: flex;
        justify-content: space-between;
        width: 22%;
        text-align: center;
        overflow: auto;
        margin: 20px 0px 20px 0px;
        background-color: rgb(255, 255, 255);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        box-shadow: 2.5px 3px #c2c1c1;
    }
    main.main_container ul.main_list li:hover {
    transform:scale(1.1);
    background-color: #E6F4F1;
    }
/* Main Historia*/
    main.main_containerHistoria h4.main_subtitle {
        background-color: #E6F4F1;
        margin-bottom: 10px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    main.main_containerHistoria div.div_mainHistoria {
        display: grid;
        grid-template-columns: repeat(4,22%);
        grid-template-areas:
        "AreaHistoria2 AreaHistoria2 AreaHistoria3 AreaHistoria4"
        "AreaHistoria6 AreaHistoria7 AreaHistoria5 AreaHistoria5";
        row-gap: 20px;
        justify-content: center;
        column-gap: 10px;
        margin-bottom: 20px;

        }

        #Historia2{
            grid-area: AreaHistoria2;
            place-self: center;
        }
        #Historia3{
            grid-area: AreaHistoria3;
            place-self: center;
        }
        #Historia4{
            grid-area: AreaHistoria4;
            place-self: center;
        }
        #Historia5{
            grid-area: AreaHistoria5;
            place-self: center;
        }
        #Historia6{
            grid-area: AreaHistoria6;
            place-self: center;
        }
        #Historia7{
            grid-area: AreaHistoria7;
            place-self: center;
        }


        main.main_containerHistoria div.div_mainHistoria img.main_imagesHistoria{
            width: 100%;
        } 
        main.main_containerHistoria div.div_mainHistoria p.main_paragraphHistoria{
            text-align: center;
            font-size: 0.85rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        } 


    /* Main impacto */

    main.main_containerImpacto{
       
        background-size: 100%;
        padding-bottom: 20px;
    }

     main.main_containerImpacto h4.main_subtitle {
        background-color: #E6F4F1;
        margin-bottom: 10px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    main.main_containerImpacto ul.main_listImpacto {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 250px) ;
        grid-template-rows: repeat(2,250px);
        grid-template-areas:
        "li1 li2 li3"
        "li4 li5 li6" ;
        row-gap: 10px;
        column-gap: 10px;
        justify-content: center;
    }

    main.main_containerImpacto ul.main_listImpacto li {
        display: flex;
        justify-self: center;
        width: auto;
        text-align: center;
        align-items: center;
        background-color: #E6F4F1;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.75rem;

    }

    .div_imagen_impacto1{
        background-size: 100%;
    }

    main.main_containerImpacto ul.main_listImpacto li:hover{
        background: none;
    }

    #ImpactoLi1{
        grid-area: li1;
        background-image: url(../imagenes/imagen10.jpg);
    }

    #ImpactoLi2{
        grid-area: li2;
    } 

    #ImpactoLi3{
        grid-area: li3;
        background-image: url(../imagenes/imagen10.jpg);

    } 

    #ImpactoLi4{
        grid-area: li4;
    } 


    #ImpactoLi5{
        grid-area: li5;
        background-image: url(../imagenes/imagen10.jpg);
    } 

    #ImpactoLi6{
         grid-area: li6;
    } 

    /* Main Dona */
    main.main_containerDona h4.main_subtitle {
        background-color: #E6F4F1;
        margin-bottom: 10px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    main.main_containerDona div.div_mainImpacto{
        display: grid;
        grid-template-columns: 30% 40% 30%;
        grid-template-areas:
        "AreaDona AreaDona AreaDona"
        "AreaDona1 AreaDona2 AreaDona3"
        ". AreaDona4 ."
        ". AreaDona5 .";
        row-gap: 20px;
        justify-items: center;
        column-gap: 10px;
        margin-bottom: 20px;

    }
    #Dona{
        grid-area: AreaDona;
    }
    #Dona1{
        grid-area: AreaDona1;
        place-self: center;
    }

    #Dona2{
        grid-area: AreaDona2;
        place-self: center;
    } 

    #Dona3{
        grid-area: AreaDona3;
        place-self: center;
    }     
    
    #Dona4{
        grid-area: AreaDona4;
        place-self: center;
    }  
    
    #Dona5{
        grid-area: AreaDona5;
        place-self: center;
    }  
   
    main.main_containerDona div.div_mainImpacto img.main_imagesDona{
        height: 320px;
        box-shadow: 2.5px 3px #dbd9d9;
        animation-name: zoom-shake;
        animation-duration: 0.4s;
        animation-delay: 0.3s;
        animation-iteration-count: 4;
    }
    main.main_containerDona div.div_mainImpacto h5.main_text {
        margin-bottom: 10px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    main.main_containerDona div.div_mainImpacto ul.main_listDona li {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 0.8rem;
    }
    


    main.main_containerDona div.div_mainImpacto img.main_imagesDonaQR{
        width: 75%;
    
    }

    /* Main Voluntatrio */
    #mainBackground_voluntario {
        background-image: url(../imagenes/imagen6.jpg);
    }

    main.main_container legend.main_legend {
        margin-top: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    main.main_container form.main_form{
        max-width: 50%;
        margin: 0 auto;
        background-color:#f2f9f1;
    }

    main.main_container textarea.main_textarea {
        width: 100%;
    }
    main.main_container label.main_label {
        display: block;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    main.main_container input.main_input {
        display: inline-block;
        margin: 10px 0px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    main.main_container select.main_select {
        display:block;
        margin: 10px 0px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    /* Footer */
    footer.footer_container {
        display: flex;
        background-color: #466C95;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    footer.footer_container h5.footer_name{
        display: inline-block;
        margin-right: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: black;
        font-style: italic;
        font-size: 1rem;
        padding: 0.3%;
        
    }
} 
