/* Variables de colores */
$color-1:#22223B;
$color-2:#E5E5E5;
$color-3:#4A6C6F;
$color-4:#FCA311;

/* Variables de operaciones */
$ancho: 330px;
$alto: $ancho/3; 


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
